/* Genel Ayarlar */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Navbar (Menü) Özelleştirme */
.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Hero Bölümü (Giriş) */
.hero-section {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 80px 0;
}

/* Kartlar ve Görseller */
.profile-img {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.hobby-card {
    transition: transform 0.3s;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.hobby-card:hover {
    transform: translateY(-5px);
}
/* Slider resimleri */
.carousel-item img {
    height: 500px; 
    object-fit: cover; 
    width: 100%;
}

/* Mirasımız kısmındaki madalya resmi için */
.card-img-custom {
    height: 300px;
    object-fit: contain; 
    background-color: #f8f9fa; 
}